<div class="container">
    <div class="nav">
        <div class="col-sm-12">
            <h1>SubCategory</h1>
            <br>
<mat-form-field style="color:black; font-size:20px; width:30%" [formGroup]="myform">
    <input type="text" matInput placeholder="Enter SubCategory Name" [(ngModel)]="txtsubcat" formControlName="subcatname">
</mat-form-field>
<br>
<span *ngIf="submitted && myform.controls.subcatname.errors && myform.controls.subcatname.errors.required" 
class="alert alert-danger">
    Required SubCatName....!
</span>
<span *ngIf="myform.controls.subcatname.valid" class="alert alert-success"> Valid SubCatName....!</span>
<br><br>
<mat-form-field [formGroup]="myform" style="width:30% ;">
<mat-select [(ngModel)]="txtcatname" formControlName="catname" >
<mat-option value="{{x._id}}" *ngFor="let x of catdata">
    {{x.catname}}
</mat-option>
</mat-select>
</mat-form-field>
<br>
<span *ngIf="submitted && myform.controls.catname.errors && myform.controls.catname.errors.required" 
class="alert alert-danger">
    Required CatName....!
</span>
<span *ngIf="myform.controls.catname.valid" class="alert alert-success"> Valid CatName....!</span>
<br><br>

<button type="button" mat-raised-button color=accent style="margin-bottom:20px; outline: none;" (click)="funsavesubcat()">
    <span class="fa fa-tags" style="font-size: 20px; margin-left:-13px;">
    </span> Insert SubCatData</button>
    <br><br>
    <mat-form-field  style="color:black; font-size:20px; width:50%">
        <input type="text" placeholder="Search SubCategory Name" matInput [(ngModel)]="searchstatus">
        <i class="fa fa-search" style="font-size: 20px; float: right; outline: none; color: grey;"></i>
    </mat-form-field>
</div>
<br><br>
<div class="col-sm-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th (click)="asds=!asds">SubCategory
                <span class="fa fa-sort-desc" *ngIf=asds></span>
                <span class="fa fa-sort-asc" *ngIf=!asds></span>           
                     </th>
                     <th>Catname</th>

            <th>Status</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of tblcat |paginate:{itemsPerPage:4,currentPage:pno} |orderBy:'subcatname':asds |filter:searchstatus">
            
          <ng-container *ngIf="tmp!=x._id; else change">
            <td>{{x.subcatname}}</td>
            <td>{{x.categorydata.catname}}</td>

            <td>
                <span *ngIf="x.active==0">Inactive</span>
                <span *ngIf="x.active==1">Active</span>

            </td>
            <td>
            <button mat-fab style="height:40px; width:40px;outline:none" (click)="funedit(x)">
                <span class="fa fa-edit"  
                style="font-size:20px; margin-top:-15px;margin-left:5px; cursor: pointer;">
                </span>
            </button>
            <!-- <button mat-fab style="height:40px; width:40px;outline:none; margin-left:10px;">
                <span class="fa fa-trash" style="font-size:20px; margin-top:-15px"></span>
            </button> -->
            </td>
        </ng-container>
        </tr>
    </tbody>
    </table>
   <ng-template #change>
       <td>
           <mat-form-field>
               <input type="text" placeholder="Edit SubCat Data" matInput  [(ngModel)]="txtsubcatname">
           </mat-form-field>
       </td>

       <td>
           <mat-form-field>
               
               
            <!-- <input type="text" placeholder="Edit Cat Data" matInput [(ngModel)]="tmpcatname"> -->

            <mat-select [(ngModel)]="tmpcatname" [placeholder]="'Edit Cat Data'" required>
                <mat-option *ngFor="let x of catdata" value="{{x._id}}">
                    {{x.catname}}

                </mat-option>
            </mat-select>
           </mat-form-field>
       </td>
      


 <td>
    <mat-form-field>
        <mat-select [(value)]="drpchnge" [placeholder]="'Select'" required>
        <mat-option value="1">Active</mat-option>
        <mat-option value="0">Inactive</mat-option>
    </mat-select>
    </mat-form-field>
</td>


<td>
        <button mat-mini-fab color="warn" (click)="tmp=0" style="outline:none">
                <span class="fa fa-close"></span>
    </button>
    <button  (click)="funsubcatdata()" mat-mini-fab color="primary" (click)="tmp=0" style="outline: none; margin-left:10px;">
       <span class="fa fa-save" ></span>
    </button>
</td>

   </ng-template>
</div>
</div>
</div>
<pagination-controls (pageChange)="pno=$event"></pagination-controls>
