<div>
    <h2 style="letter-spacing: 2px;margin-left: 10px;" class="animated bounce"> NewCollection 
        <span class="fa fa-long-arrow-right"></span></h2>
    <hr>
    <div id="divouter">
<div id="divinner">
<div *ngFor="let data of newcollectiondata" style="float: left;margin-top:0px;margin-right:30px;width:220px;" class="background">
    <img src="../../../assets/productuploadimages/{{data.images[0]}}" width="150px" height="180px">
<br><br>
<span style="color:rgb(2, 2, 2);font-size: 20px;margin-left: 30px;"> {{data.pname}}</span>
<br>
<span style="color:silver;margin-left: 30px;font-weight: bold;"> 
    {{data.newprice | currency:'INR'}} </span>
<br>
<button mat-raised-button color='primary' [routerLink]="['proinfo',{pid:data._id}]" 
            style="margin-left: 30px;">More</button>
        </div>
</div>
<div class="arrowbtn" (click)="funleft1()">
    <span class="fa fa-angle-left" style="font-size: 55px;margin-left: 5px;margin-top: 15px;"></span>
</div>
<div class="arrowbtn1" style="right:0px;" (click)="funright1()">
    <span class="fa fa-angle-right" style="font-size: 55px;margin-left: 5px;margin-top: 15px;"></span>
</div>

    </div>
</div>
<br><br><br>

