<style>
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
  color:white;
  font-size:350%;
  }
  </style>
<div class="container">
        <div class="centered"> 
        <h1 >404  😀</h1>
        <!-- <h1 >Page not found 😀</h1> -->
                      
    </div>  
    <img src="../../../assets/clint-mckoy.jpg" alt="Snow" style="width:auto;height: 1000px;margin-left:-120px;" > 
  <!-- <img src="../../../assets/clint-mckoy.jpg"style="width:1950px;height:650px;"> -->

  
      </div>
      